[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = none

# CS1591: Falta el comentario XML para el tipo o miembro visible públicamente
dotnet_diagnostic.CS1591.severity = none
